<!--Table and divs that hold the pie charts-->
<table class="columns">
    <tr>
        <td>
            <div id="curve_chart1" style="width: 700px; height: 400px"></div>
        </td>
        <td>
            <div id="curve_chart2" style="width: 700px; height: 400px"></div>
        </td>
    </tr>

</table>