
<!--Table and divs that hold the pie charts-->
<table class="columns">
    <tr>
        <td>
            <div id="Sarah_chart_div" style="border: 1px solid #ccc"></div>
        </td>
        <td>
            <div id="Anthony_chart_div" style="border: 1px solid #ccc"></div>
        </td>
    </tr>
</table>